<app-page-title></app-page-title>

<section class="text-justify">
  <p>
    Nós da <strong>Comissão de Recepção</strong> criamos esse espaço para que você possa
    fazer qualquer tipo de denúncia ou reclamação em relação a situações constrangedoras
    ou inadequadas que tenham ocorrido, seja no Instagram, nos grupos do WhatsApp, ou
    qualquer outro meio. A partir do seu relato, faremos de tudo para solucionar o
    problema da melhor maneira possível.
  </p>
  <p>
    Fique tranquilo(a), esse formulário é totalmente anônimo e é um lugar seguro para que
    você possa nos contar o que aconteceu. Além disso, saiba que estamos aqui para lhe
    proporcionar uma experiência agradável e faremos todo o possível para que essa
    situação não estrague esse momento tão importante que é entrar em uma universidade.
    Por isso, conte conosco! Te daremos todo o apoio necessário.
  </p>
</section>

<div class="ratio embedded-forms w-100 w-lg-70 m-auto">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScqnsMNsAUO5ycnObmFrnqC4a6CTKbQ6AVhf6AEZUCzeG_eZw/viewform?embedded=true"
    width="640"
    height="881"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Carregando…</iframe
  >
</div>
