<div class="d-flex flex-column align-items-center gap-2 {{ color }} pb-2">
  <strong style="font-size: {{ size - 5 }}px">
    {{ groups.length === 1 ? 'LOREM IPSUM CARLINHOS' : 'LOREM IPSUM CARLINHOS' }}
  </strong>

  <div class="d-flex justify-content-center align-items-center m-auto gap-5">
    <div class="w-auto" *ngFor="let group of groups">
      <app-social-media-icon
        [network]="group"
        size="{{ size }}pt"
        [color]="color"
      ></app-social-media-icon>
    </div>
  </div>
</div>
