<app-page-title></app-page-title>

<section class="text-justify m-auto">
  <a id="home"></a>

  <app-title [subtitle]="true"></app-title>
  <p>
    O <i>Sharp_Probe</i> é um projeto de graduação da Escola de Engenharia de São Carlos
    da disciplina <strong>SEL0373 - Projetos em Internet das Coisas</strong>
    Este projeto tem o obejtivo de demonstrar o funcionamento de uma sonda climática,
    apresentando dados como posição, altura e temperatura.
  </p>

  <p>
    Foto da Sonda
    <button type="button" class="btn btn-primary" onclick="doPublish">
      Requisitar Foto
    </button>
  </p>

  <div>
    Localização
    <app-image-grid [gridItems]="latlongalt"></app-image-grid>
  </div>

  <div>
    Data e Hora
    <app-image-grid [gridItems]="datatime"></app-image-grid>
  </div>

  <div>
    Dados BME
    <app-image-grid [gridItems]="bme"></app-image-grid>
  </div>

  <div>
    Dados MPU
    <app-image-grid [gridItems]="mpu"></app-image-grid>
  </div>

  <div>
    Dados DHT
    <app-image-grid [gridItems]="dht"></app-image-grid>
  </div>
</section>
