<app-page-title></app-page-title>

<section class="text-justify m-auto">
  <a id="introducao"></a>

  <app-title [subtitle]="true">Sejam bem vindos!</app-title>
  <p>
    A
    <abbr title="Secretaria Acadêmica da Engenharia Elétrica"
      ><strong>SA-SEL</strong></abbr
    >
    e a <strong>Comissão de Recepção dos Bixos</strong> desejam boas-vindas a você,
    ingressante em Engenharia Elétrica na USP de São Carlos!
  </p>
  <p>
    Com esse site, queremos ajudar você nessa nova fase, reunindo informações relevantes
    sobre a cidade de São Carlos, a USP São Carlos (ou
    <abbr title="Centro Acadêmico Armando Salles Oliveira"><strong>CAASO</strong></abbr
    >, como chamamos), nosso curso, a vida universitária e a sua Recepção. Sinta-se à
    vontade para explorar esse conteúdo!
  </p>
  <p>
    Abaixo está o link do Istagram da recepção dos bixos que será usado para conversar com
    vocês e comunicar informações importantes sobre a Recepção. Juntamente deste,
    encontra-se o link para o grupo do WhatsApp dos bixos (Bixos Elétrica 024), nele vocês
    já poderão ter contato com seus colegas de curso e também poderão ficar atentos a
    todas as novidades e informações importantes sobre este período de entrada na
    universidade.
  </p>

  <app-groups-panel color="secondary" [size]="30"></app-groups-panel>

  <br />
  <p>E aqui está a localização da USP - São Carlos, para você não se perder:</p>
  <div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14796.89359685369!2d-47.8985742!3d-22.0027496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9fd71af8a6c23c26!2sUSP%20-%20Universidade%20de%20S%C3%A3o%20Paulo%20Campus%20de%20S%C3%A3o%20Carlos!5e0!3m2!1sen!2sbr!4v1644184969122!5m2!1sen!2sbr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</section>

<section class="text-justify mt-4">
  <a id="navegacao"></a>

  <app-title [subtitle]="true">Navegação</app-title>
  <p>
    Você pode estar assustado pela quantidade de informações, mas calma! Navegar pelo site
    é muito fácil e nós vamos te ajudar. No canto superior direito, você vai encontrar um
    botão como esse:
  </p>
  <div class="text-center mb-3">
    <button
      (click)="sidebarService.open()"
      class="navbar-light navbar-toggler"
      type="button"
      style="border: 1px solid grey"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <p>
    Ele vai abrir a barra de navegação lateral. Através dela, você poderá ver todos
    conteúdos do site e, ao clicar em algum, será redirecionado para a página escolhida.
    Caso queira saber sobre outro assunto, basta clicar novamente no ícone e ir para a
    próxima página.
  </p>
</section>

<section class="d-flex flex-column gap-1 mb-3 text-justify">
  <a id="faq"></a>

  <app-title [subtitle]="true">Perguntas Frequentes (FAQ)</app-title>
  <details>
    <summary>É oferecido auxílio financeiro? Como funciona?</summary>
    <p>
      Existem bolsas e auxílios oferecidos pela universidade para alunos de graduação que
      apresentem e comprovem, por meio de documentos, dificuldades socioeconômicas para se
      manterem na Universidade. Esses auxílios incluem: Apoio Moradia, Auxílio Transporte,
      Auxílio Alimentação, Auxílio Livros, todos unificados no
      <abbr title="Programa de Apoio à Permanência e Formação Estudantil"
        ><strong>PAPFE</strong></abbr
      >. Para mais informações acesse o
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://eesc.usp.br/calouros/bolsas-de-apoio/"
        >site da EESC</a
      >.
    </p>
  </details>

  <details>
    <summary>Como funciona o bandejão? É tipo um restaurante self-service?</summary>
    <p>
      Basicamente, o bandejão, ou bandeco, como muitos de nós carinhosamente o chamamos, é
      o restaurante universitário do nosso campus, e você pode deduzir que ele tem esse
      nome porque a comida é servida em bandejas de metal com separações para cada tipo de
      guarnição. A refeição custa 2 reais, e você só pode passar na fila dos alimentos uma
      vez. Diariamente, no almoço e no jantar, são servidos pratos variados, sempre
      contendo:
    </p>
    <ul>
      <li>Três opções de salada</li>
      <li>Arroz e feijão</li>
      <li>Uma guarnição</li>
      <li>Duas misturas, sendo uma delas vegetariana</li>
      <li>
        Duas opções de sobremesa, uma fruta ou um doce (você só pode pegar uma! Mas quem
        nunca pegou mais de um tablete de chocolate que atire a primeira pedra).
      </li>
      <li>Mini-pão e sucos</li>
    </ul>
    <p>
      Com exceção da mistura e da sobremesa, controlados pelos funcionários, todos os
      outros alimentos podem ser pegos à vontade. Além disso, a grande novidade deste ano
      é o café da manhã, agora servido para todos os alunos da universidade. Custando
      somente cinquenta centavos, você pode se servir quantas vezes quiser de pão, café,
      leite, manteiga e uma opção de fruta. Perfeito para matar aquela fominha logo cedo e
      ir direto para a aula!
    </p>
    <p>
      Além disso, para entrar no bandejão é preciso ter créditos na sua carteirinha. O
      local para recarregar os créditos fica do lado do restaurante e é aberto no horário
      do almoço, aceitando somente dinheiro físico. No entanto, também é possível
      recarregar seus créditos diretamente pelo aplicativo
      <strong>Cardápio+</strong> tanto por PIX, quanto boleto bancário. Então não se
      esqueça de verificar previamente se você tem créditos para não ficar sem janta, mas
      caso acabe esquencendo, é só recarregar pelo PIX e em segundos você já pode entrar e
      saborear sua refeição! É possível entrar no bandejão tanto com a carteirinha física,
      quanto com a carteirinha digital, disponibilizada no aplicativo
      <strong>e-Card</strong>.
    </p>
  </details>

  <details>
    <summary>Tô perdido nesse monte de siglas de institutos. Alguém me ajuda?</summary>
    <p>
      Uma dúvida comum dos bixos é o significado de cada uma das abreviações relacionadas
      à faculdade. Seja no grupo do WhatsApp, falando com algum veterano, no júpiter ou
      até aqui no site mesmo, as siglas aparecem a todo momento. Vamos tentar explicar as
      mais comuns nesse tópico, começando pelas cinco unidades básicas do campus:
    </p>
    <ul>
      <li>
        <b>EESC</b>: Escola de Engenharia de São Carlos, que atualmente, oferece 10 cursos
        de graduação, incluindo ambas as ênfases de Engenharia Elétrica. Juntos, totalizam
        490 vagas anuais.
      </li>
      <li>
        <b>ICMC</b>: Instituto de Ciências Matemáticas e de Computação, com 8 cursos de
        graduação, que incluem Matemática (pura e aplicada), Estatística, Sistemas de
        Informação e Ciências da Computação.
      </li>
      <li>
        <b>IFSC</b>: Instituto de Física de São Carlos, responsável pelos cursos de
        Física, Física Computacional e Ciências Físicas e Biomoleculares.
      </li>
      <li>
        <b>IQSC</b>: Instituto de Química de São Carlos, atualmente administrando o curso
        de Bacharelado em Química, além da Licenciatura em Ciências Exatas, sendo esse
        último dado em conjunto com os dois institutos anteriores.
      </li>
      <li>
        <b>IAU</b>: Instituto de Arquitetura e Urbanismo, responsável pelo curso de
        Arquitetura.
      </li>
    </ul>
    <p>
      É importante salientar que cada Instituto é responsável não só pela graduação e
      pós-graduação dos ciclos básicos existentes no campus, mas também por coordenar as
      áreas de pesquisa e extensão nos temas de seus referidos cursos. Além disso, as
      matérias relacionadas a cada Instituto serão ministradas por professores deste, não
      importando o curso em que ela é dada. Ou seja: Alunos da EESC tem aulas de Cálculo
      com professores do ICMC e aulas de Física com docentes do IFSC.
    </p>
  </details>

  <details>
    <summary>O campus tem salas de estudos?</summary>
    <p>
      Tem sim! Todas as bibliotecas possuem um espaço climatizado, silencioso e tranquilo
      destinado aos estudos. Além disso, as bibliotecas do IFSC e do ICMC possuem salas 24
      horas, sempre abertas aos estudantes (e que são usadas em madrugadas de desespero).
    </p>
    <p>
      Não só isso, mas também existem salas de informática, na chamada Seção Técnica de
      Informática (STI), com computadores a disposição de todos os alunos, além da
      possibilidade de impressão gratuita (limitada à 100 impressões por semestre e
      somente sobre assuntos relativos à graduação). Também é possível encontrar salas
      assim no terceiro andar do Bloco 6 do ICMC, no entanto, só é possível adentrar no
      prédio com a carteirinha (física ou digital).
    </p>
    <p>
      Há, também, o "aquário", que é basicamente um espaço composto de diversas mesas e
      cadeiras, tanto coletivas, para estudos e trabalhos em grupo, quanto individuais.
      Assim como as salas de estudos, é aberto 24 horas, mas não é tão silencioso, já que
      o objetivo principal lá é se reunir em grupo e realizar discussões a respeito das
      atividades a serem feitas.
    </p>
    <p>
      Por fim, tem o CETEPE, ou "Nárnia", que fica localizada em cima do aquário, ao lado
      da biblioteca da EESC, consiste em várias salinhas para estudo em grupo, munidas de
      ar-condicionado. Essas salas não são 24h, ficando abertas apenas durante o
      expediente da biblioteca da EESC.
    </p>
  </details>

  <details>
    <summary>E o trote, como funciona?</summary>
    <p>
      Não se preocupe bixão, o trote é bem tranquilo! A USP tem uma política de ser contra
      qualquer tipo de trote pesado, então a recepção é bem de boa.
    </p>
  </details>

  <details>
    <summary>A faculdade tem wifi gratuito? Onde posso carregar meu celular?</summary>
    <p>Essa sim é uma pergunta importante. Prioridades não é mesmo?</p>
    <p>
      Brincadeiras à parte, a faculdade conta com um sistema de wifi próprio, usando o
      eduroam (uma rede internacional de serviços de roaming, com fins didáticos). Logo
      que as aulas começarem, vocês não terão pronto acesso a esse sistema, mas uma
      apresentação da Seção Técnica de Informática (STI para os íntimos) os colocarão a
      par da internet no campus, ou até mesmo uma busca no YouTube sobre como acessar o
      eduroam da faculdade.
    </p>
    <p>
      Por outro lado, tomadas não deverão ser um problema para vocês, uma vez que na maior
      parte das bibliotecas, cada mesa individual de estudos possui uma tomada
      (normalmente para utilização de notebooks, mas que podem ser usadas para carregar o
      smartphone). Além disso, algumas salas de aula possuem tomadas nas paredes, para
      alguma emergência, então, se for o caso, basta ficar com o olhar atento para ver se
      acha alguma disponível.
    </p>
  </details>

  <details>
    <summary>O que é essa tal de "física unificada"? Devo me preocupar?</summary>
    <p>Provavelmente.</p>
    <p>
      "Física Unificada" é o termo usado para nomear a atual estrutura das disciplinas de
      Física I e Física II, dada pelo IFSC para alguns cursos do campus (incluindo o de
      Engenharia Elétrica).
    </p>
    <p>
      Basicamente, as turmas são divididas aleatoriamente, sem levar em conta o curso de
      cada aluno. Isso significa que em sua sala haverá graduandos de outras Engenharias,
      além de aluns cursos da Física. Os professores darão aulas diferentes, com
      metodologias diferentes, no entanto a prova será unificada para todas as turmas.
      Além disso, haverá exercícios para serem feitos em uma plataforma online da própria
      USP, o famoso Moodle, valendo parte considerável da média final dessa disciplina,
      então fiquem atentos com elas e seus prazos. De qualquer forma, tudo isso será
      explicado no primeiro dia de aula.
    </p>
    <p>
      A estrutura unificada começou em 2017, então ainda passa por experimentações. O
      grande problema do curso é que existem diversos professores, mas apenas um formato
      de prova. Além de que a programação da disciplina é feita como se todos os alunos
      tivessem a mesma carga horária semanal e o mesmo tempo disponível para dedicar a
      ela, o que não é o caso, já que, obviamente, cursos diferentes têm grades
      diferentes.
    </p>
    <p>Ajude o seu veterano caso ele esteja com problemas na disciplina.</p>
  </details>

  <details>
    <summary>Eu preciso me inscrever nas matérias? Como eu faço isso?</summary>
    <p>
      Como vocês estão entrando na faculdade agora, não precisarão se preocupar com a
      matrícula nas disciplinas, uma vez que ela é feita automaticamente pelo sistema
      Júpiter. No entanto, é importante explicarmos como ela funciona, para que vocês não
      fiquem perdidos nos próximos semestres (podendo até mesmo perder as interações e
      terem problemas para se matricularem). Primeiramente, é importante explicar os três
      tipos de disciplina existentes na graduação:
    </p>
    <ul>
      <li>
        <b>Disciplinas Obrigatórias</b>: São aquelas previstas na matriz curricular do
        curso, e que devem ser feitas para a conclusão do curso.
      </li>
      <li>
        <b>Disciplinas Optativas Eletivas</b>: São disciplinas também chamadas de
        "optatórias", uma vez que a "opção" no nome se refere ao direito de escolher quais
        matérias cursar, mas existe uma certa quantidade de créditos para cumprir. No caso
        da Engenharia Elétrica, são disciplinas que podem ser referentes aos Certificados
        de Estudos Especiais (CEE), que serão explicados posteriormente.
      </li>
      <li>
        <b>Disciplinas Optativas Livres</b>: São as disciplinas, de fato, livres. O aluno
        tem a opção de cursá-las, em qualquer semestre que desejar.
      </li>
    </ul>
    <p>
      Basicamente, cada matéria tem um número limitado de vagas, que são preenchidas
      seguindo um critério de prioridade. Por exemplo: A prioridade na matrícula de uma
      disciplina é sempre dada para aqueles que a estão fazendo em seu período ideal
      (entenda período ideal como aquele em que a disciplina foi programada na grade
      curricular de cada curso). Esse conhecimento é importante para entender o
      funcionamento da matrícula: Existem duas interações, feitas em períodos diferentes
      (normalmente uma no semestre anterior, ainda em aula, e outra no período de férias).
      A primeira interação leva em conta os alunos com maior prioridade, ou seja, aqueles
      que estão fazendo a disciplina em seu período ideal. Posteriormente, na segunda
      interação, as vagas são abertas para todos. Para mais informações, veja a seção de
      dúvidas sobre Matrícula, no próprio JupiterWeb,
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://uspdigital.usp.br/jupiterweb/grdMatriculainterativaDuvida.jsp"
        >neste link</a
      >. Esse conhecimento será útil para os próximos semestres.
    </p>
  </details>

  <details>
    <summary>O que são os Certificados em Estudos Especiais (CEE)?</summary>
    <p>
      CEE's são "uma ênfase dentro da ênfase". Isso porque, no caso da Engenharia
      Elétrica, além das duas ênfases já escolhida pelo aluno (Eletrônica ou Sistemas de
      Energia e Automação), é possível se aprofundar ainda mais em áreas específicas de
      sua ênfase.
    </p>
    <p>
      No caso da Automação, são oferecidas: CEE em Sistemas Elétricos de Potência e CEE em
      Sistemas de Controle.
    </p>
    <p>
      No caso da Eletrônica, são oferecidas: CEE em Controle e Automação, CEE em
      Telecomunicações, CEE em Sistemas Digitais e CEE em Engenharia Biomédica.
    </p>
  </details>

  <details>
    <summary>
      Nos grupos do WhatsApp estão falando muito sobre processos seletivos de grupos
      extracurriculares. Devo me preocupar?
    </summary>
    <p>
      Grupos extracurriculares serão muito importante durante sua graduação, e, muitas
      vezes, são neles que você irá conseguir acumular os créditos de AAC (Atividades
      Acadêmicas Complementares) necessários para você se formar e, dependendo do grupo,
      até mesmo os créditos de extensão, também necessários para você se graduar.
    </p>
    <p>
      Durante a semana de recepção você será apresentado a uma infinidade de grupos
      extracurriculares que se debruçam sobre os mais variados temas. Alguns projetam
      carros, outros motos, alguns projetam e lançam foguetes e satélites. Alguns grupos
      são mais voltados para áreas sociais, e outros para áreas empresariais. Práticamente
      qualquer tema possível de ser feito como aluno da graduação terá seu grupo
      extracurricular correspondente.
    </p>
    <p>
      Um pouco diferente de tais grupos citados acima, mas igualmente importantes, também
      encontraremos Secretarias e Centro Acadêmicos, empresas júnior, coletivos, grupos
      religiosos, e muitos outros grupos que estarão ali para tornar sua experiência na
      faculdade ainda melhor. Aqui no site é possível explorar mais a fundo suas opções na
      tela
      <a rel="noopener noreferrer" routerLink="/ics-extras">"ICs e Extracurriculares"</a>.
    </p>
    <p>
      Depois de todas essas informações, fica nosso conselho, apesar de ser tentador fazer
      parte de vários destes grupos, avalie bem o tempo que você terá disponível, para que
      você não acabe sobrecarregado e passe a negligenciar a graduação ou alguns dos
      grupos com o qual você tenha se comprometido. No geral, todos os grupos são bem
      compreensiveis, afinal, somos todos alunos da graduação, porém é bom ser muito
      transparente e sincero com eles, principalmente depois de assumir tarefas.
    </p>
    <p>
      Um último conselho é para que você não tenha medo de se inscrever em vários
      processos seletivos, caso várias extracurriculares chamem sua atenção. Muitos dos
      grupos extracurriculares são bem disputados e acabam selecionando poucas pessoas,
      então, ter várias opções de grupo para entrar pode ser uma boa ideia!
    </p>
  </details>
</section>

<section>
  <a id="patrocinadores"></a>
  <app-title>Patrocinadores</app-title>
  <app-image-grid [gridItems]="sponsorsImages"></app-image-grid>
</section>
