<app-page-title></app-page-title>

<section class="text-justify m-auto">
  <a id="introducao"></a>

  <app-title [subtitle]="true"></app-title>
  <p>
    O <i>Sharp_Probe</i> é um projeto de graduação da Escola de Engenharia de São Carlos da disciplina <strong>SEL0373</strong> 
  </p>

  <app-alternating-layout [contents]="textAndImageList"></app-alternating-layout>

  <section align="justify">
    <a id="alojamento"></a>
    <app-title [subtitle]="true">A senha do site é: Xcde54$45</app-title>
  
    <p>
     Lorem Ipsu equemete
    </p>
  
    <app-image-grid [gridItems]="exemplosPhotos" [large]="true"></app-image-grid>
</section>
  

    
</section>
