<app-page-title></app-page-title>

<p>
  Na primeira semana, teremos diversas atividades de integração destinadas aos calouros de
  nosso curso. Por isso, confiram regularmente as atualizações aqui no site e nas nossas
  redes sociais.
</p>

<section>
  <a id="calendário"></a>
  <app-title [subtitle]="true">Calendário</app-title>
  <p>
    No calendário abaixo, estarão presentes todas as atividades preparadas e selecionadas
    por nossa comissão de recepção, para que os bixos possam se programar e obter mais
    informações sobre os eventos, cujas descrições também estão presentes abaixo do
    calendário. A agenda abaixo pode ser adicionada em seu Google Agenda, para se tornar
    mais facil de acompanhar os eventos.
  </p>
</section>

<div class="ratio embedded-calendars w-100 w-lg-95 m-auto">
  <iframe
    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%230083ba&ctz=America%2FSao_Paulo&mode=WEEK&title=Semana%20de%20Recep%C3%A7%C3%A3o&src=NmRhNjBkNmIzNGFjYzg0ZDQwMmYwMWJlNWRkODFhMDgwNzAxNzgyZTNmNTczNTNlODNiOWIxNTIwZDM2ZmFhYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%238E24AA"
    style="border-width: 0"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>

<p></p>

<section>
  <a id="apadrinhamento"></a>
  <app-title [subtitle]="true">Apadrinhamento</app-title>
  <p>
    O apadrinhamento é nossa forma mais especial de te dar boas vindas ao ambiente
    universitário. Nela, oferecemos para cada ingressante, um padrinho/madrinha que irá te
    acompanhar não só nesses momentos iniciais, mas também até o final do curso e vocês
    poderão cultivar um bom laço de amizade.
  </p>

  <p>
    Portanto, todos os bixos são designados a um padrinho, que é notificado sobre seu
    respectivo bixo/bixete. Esse padrinho/madrinha poderá te ajudar com dúvidas sobre o
    curso, te integrar sobre o CAASO, te apresentar melhor a cidade/faculdade e te contar
    os segredos mais importantes para vencer a graduação. (Caso não saiba quem é seu
    padrinho, entre em contato com a nossa comissão de recepção!)
  </p>

  <p>
    Os padrinhos/madrinhas atribuidos por nós irão tentar entrar em contato com você para
    poderem cumprir sua função. Caso aconteça de você não receber nenhuma mensagem, apesar
    de estar no grupo dos bixos ou ter sido encontrado de alguma forma por nós, você pode
    (e deve) informar a comissão de recepção para que a gente possa entender o que está
    acontecendo e, se for necessario, atribuir um novo responsável por você!
  </p>

  <p>
    Vale lembrar que assim como a USP, nós repudiamos qualquer trote.
    <strong>A recepção só é divertida para nós, se for divertida para você.</strong> Se a
    qualquer momento, alguém te constranger ou forçar a fazer algo indesejado, deixe-nos
    saber. Comunique-nos através da nossa
    <a routerLink="/ouvidoria"> ouvidoria anônima</a>!
  </p>
</section>
