<footer class="bg-dark pt-4 pb-1 user-select-none">
  <div class="container">
    <section
      class="d-flex flex-column flex-md-row justify-content-around align-items-center w-100 px-3 mb-3 gap-3"
    >
      <app-logo class="w-90 w-md-50 w-lg-30" [subtitle]="true"></app-logo>

      <div
        *ngIf="socialMedia.length"
        class="row justify-content-center align-items-center gap-3 w-70 w-md-35 w-lg-40"
      >
        <div class="w-auto" *ngFor="let network of socialMedia">
          <app-social-media-icon
            [network]="network"
            size="23pt"
            color="primary"
          ></app-social-media-icon>
        </div>
      </div>
    </section>

    <section class="text-gray-500 text-center pt-3 px-5">
      <p>
        © 2024 SA-SEL. Todos os direitos reservados. <br class="d-md-none" />
        Desenvolvido por
        <a
          href="https://github.com/angelobguido"
          target="_blank"
          rel="noopener noreferrer"
          >Ângelo Guido</a
        >,
        <a href="https://github.com/APMedrado" target="_blank" rel="noopener noreferrer"
          >Antônio Pedro Medrado</a
        >,
        <a
          href="https://github.com/DanielShinj1"
          target="_blank"
          rel="noopener noreferrer"
          >Daniel Shinji</a
        >,
        <a
          href="https://github.com/lima-douglas"
          target="_blank"
          rel="noopener noreferrer"
          >Douglas Lima</a
        >,
        <a
          href="https://github.com/FernandoCZanchetta"
          target="_blank"
          rel="noopener noreferrer"
          >Fernando Zanchetta</a
        >,
        <a
          href="https://github.com/lucasvianav/"
          target="_blank"
          rel="noopener noreferrer"
          >Lucas Viana</a
        >
        e
        <a
          href="https://github.com/murilo-toddy"
          target="_blank"
          rel="noopener noreferrer"
          >Murilo Todão</a
        >.
      </p>
    </section>
  </div>
</footer>
