<footer class="bg-dark pt-4 pb-1 user-select-none">
  <div class="container">
    <section
      class="d-flex flex-column flex-md-row justify-content-around align-items-center w-100 px-3 mb-3 gap-3"
    >
      <app-logo class="w-90 w-md-50 w-lg-30" [subtitle]="true"></app-logo>

    </section>

    <section class="text-gray-500 text-center pt-3 px-5">
      <p>
        © 2024 Shinji. Sem direitos reservados. <br class="d-md-none" />
        Desenvolvido por
        <a
          href="https://github.com/DanielShinj1"
          target="_blank"
          rel="noopener noreferrer"
          >Daniel Shinji</a
        >,
        <a
          href="https://github.com/FernandoCZanchetta"
          target="_blank"
          rel="noopener noreferrer"
          >Fernando Zanchetta</a
        >.
      </p>
    </section>
  </div>
</footer>
