<app-page-title></app-page-title>

<p>
  Para você não ficar perdido no novo mundo de plataformas e serviços da universidade e
  nem deixar de aproveitar os vários mimos de estudante universitário, montamos esta seção
  para te contar tudo!
</p>

<section>
  <a id="portal-servicos"></a>

  <app-title [subtitle]="true"
    ><a href="https://portalservicos.usp.br/ " target="_blank" rel="noopener noreferrer"
      >Portal de Serviços USP</a
    ></app-title
  >
  <p>
    Nesse site, que reúne a maioria dos serviços oferecidos pela universidade, você pode
    ir desde fazer matrícula até adicionar crédito na conta do bandejão (restaurante
    universitário).
  </p>

  <app-figure
    [image]="{
      src: '/assets/images/servicos-academicos/portal.jpg',
      alt: 'Página do Portal de Serviços da USP',
      caption: 'Página inicial do portal de serviços da USP'
    }"
  ></app-figure>

  <section>
    <h5>Calendário</h5>
    <ul>
      <li>
        Caso não esteja logado: Graduação (no painel à esquerda) → Calendário Escolar →
        Selecione o ano
      </li>
      <li>
        Caso esteja logado: Graduação (no painel à esquerda) → Acesso Público → Calendário
        Escolar → Selecione o ano
      </li>
      <li>
        Contém os feriados e as datas acadêmicas importantes como: período de matrícula,
        início de semestre, etc.
      </li>
    </ul>
  </section>

  <section>
    <h5>Grade Horária</h5>
    <ul>
      <li>
        Faça login → Graduação (no painel à esquerda) → Grade Horária → Selecione o
        programa e clique em "buscar".
      </li>
      <li>
        Neste 1º semestre o próprio sistema irá montar a sua grade horária. Você não
        precisa se preocupar em se matricular em disciplinas.
      </li>
      <li>
        Clicando em uma das disciplinas na grade, irá abrir um painel com duas abas:
        "disciplina" e "oferecimento".
      </li>
      <li>
        Em <strong>"disciplina"</strong> estão informações sobre a ementa da disciplina:
        objetivos, programa, como será a avaliação, bibliografia usada.
      </li>
      <li>
        Em <strong>"oferecimento"</strong> está o código da turma, local das aulas → sala
        e prédio, assim como os horários de aula e quem é o(a) professor(a).
      </li>
    </ul>
  </section>

  <section>
    <h5>Matrícula em Disciplinas</h5>
    <ul>
      <li>Faça login → Graduação (no painel à esquerda) → Matrícula → Fazer Matrícula</li>

      <li>
        Esta página só estará disponível durante o período de matrícula de disciplinas
        (consulte o calendário).
      </li>
      <li>
        Você poderá escolher quais disciplinas irá cursar no próximo semestre. Há uma
        lista de disciplinas "ideais" para serem cursadas em cada semestre.
      </li>
    </ul>
  </section>

  <section>
    <h5>Gerar documentos</h5>
    <ul>
      <li>Histórico escolar: Graduação (no painel à esquerda) → Histórico Escolar</li>
      <li>
        Atestado de aluno, de matrícula, etc: Graduação → Emissão de documentos →
        Documentos
      </li>
      <li>
        Evolução no curso (veja seu andamento nas matérias obrigatórias do curso):
        Graduação → Acompanhamentos → Evolução no curso.
      </li>
    </ul>
  </section>

  <section>
    <h5>Restaurante Universitário</h5>
    <ul>
      <li>Faça login → Restaurante Universitário</li>
      <li>
        Em "Seu extrato" você encontra o valor disponível na sua conta do restaurante
        universitário.
      </li>
      <li>
        Em "Boleto" você encontra um histórico dos boletos gerados, e também pode gerar um
        novo em "Comprar" para depositar um valor na sua conta.
      </li>
      <li>
        Em "Pix" você encontra um histórico dos pix pagos, e também pode gerar uma chave
        para realizar um novo pagamento pix em "Comprar" para depositar um valor na sua
        conta.
      </li>
    </ul>
  </section>

  <section>
    <h5>Intercâmbio</h5>
    <ul>
      <li>
        Já pensou em fazer um intercâmbio de 6 meses a 1 ano durante sua graduação? Ou até
        mesmo participar de um programa de duplo diploma?
      </li>
      <li>
        Você pode ver todos os editais passados e os em andamento em: Relações
        Internacionais → Acesso Público → Editais → Alunos de graduação → Editais
      </li>
      <li>
        A classificação em cada edital geralmente é de acordo com sua média normalizada
        por turma, ela começa a ser calculada após 2 semestres concluídos, que você pode
        encontrar em: Relações Internacionais → Acesso Público → Editais → Alunos de
        graduação → Média Normalizada por Turma
      </li>
      <li>
        A universidade também oferece editais de bolsa para te auxiliar com os custos. A
        EESC conta com um
        <a
          href="https://www.facebook.com/ccinteesc/ "
          target="_blank"
          rel="noopener noreferrer"
          >escritório de relações internacionais
        </a>
        que pode te ajudar caso tenha dúvidas.
      </li>
    </ul>
  </section>
</section>

<section>
  <a id="moodle"></a>

  <app-title [subtitle]="true"
    ><a href="https://edisciplinas.usp.br/" target="_blank" rel="noopener noreferrer"
      >e-Disciplinas (Moodle)</a
    ></app-title
  >
  <p>
    Avisos, arquivos e materiais, exercícios e provas. Esse é o ambiente que a maioria dos
    professores usa para interagir com os alunos, utilizando principalmente como
    complemento à sala de aula.
  </p>

  <app-figure
    [image]="{
      src: '/assets/images/servicos-academicos/moodle.jpg',
      alt: 'Página inicial do edisciplinas',
      caption:
        'Cada disciplina tem seu próprio espaço, em que você será adicionado automaticamente.'
    }"
  ></app-figure>

  <p>
    Apesar do e-Disciplinas ser a plataforma mais utilizada pelos professores, não é a
    única. Alguns professores, principalmente do ICMC, usam o
    <a href="https://ae4.tidia-ae.usp.br/portal" target="_blank" rel="noopener noreferrer"
      >Tidia</a
    >
    e outros ainda usam o Google Classroom. É comum os professores mandarem um email no
    começo do semestre com instruções sobre como será o andamento das aulas.
  </p>
</section>

<section>
  <a id="ferramentas-google"></a>

  <app-title [subtitle]="true">Ferramentas Google</app-title>
  <p>
    Sua conta USP está integrada com as soluções do Google. Com isso você pode aproveitar:
  </p>
  <ul>
    <li>
      Google Drive com <strong>100 GB de armazenamento</strong> e Drives compartilhados;
    </li>
    <li>Reuniões no Google Meet, com opção de as gravar;</li>
    <li>
      Google Calendar para organizar suas reuniões e marcar encontros no Google Meet.
    </li>
  </ul>
</section>

<section>
  <a id="eduroam"></a>

  <app-title [subtitle]="true">Eduroam (Wi-Fi)</app-title>
  <p>
    Eduroam é uma rede global de conexão à internet para universidades e centros de
    pesquisa. Uma vez conectado(a), você terá acesso à internet pela rede Wi-Fi eduroam no
    CAASO (USP São Carlos), na UFSCAR, e em institutos em mais de 101 países.
  </p>
  <p>Como se conectar?</p>
  <ol>
    <li>Escolher a rede: "eduroam"</li>
    <li>Tipo de autenticação: WPA2 Enterprise</li>
    <li>Escolher o protocolo do método EAP: TTLS ou PEAP</li>
    <li>Método de Autenticação: MS-CHAPv2</li>
    <li>(Caso for pedido) Domínio: semfio.usp.br</li>
    <li>Identidade (login): seu número USP seguido de "@usp.br"; ex: 11223344@usp.br</li>
    <li>Senha: a senha da sua conta USP</li>
  </ol>
  <p>
    Não deu certo? Dê uma olhada no
    <a href="https://eduroam.usp.br/como-usar/" target="_blank" rel="noopener noreferrer"
      >tutorial da USP</a
    >
    que explica melhor para cada plataforma.
  </p>
</section>

<section>
  <a id="matrusp"></a>

  <app-title [subtitle]="true"
    ><a href="https://bcc.ime.usp.br/matrusp/" target="_blank" rel="noopener noreferrer"
      >MatrUSP</a
    ></app-title
  >
  <p>
    Ferramenta que te permite montar um esboço da sua grade horária. Você pode adicionar
    todas as disciplinas que gostaria de cursar e o sistema vai automaticamente encontrar
    e te mostrar todas as combinações de horários possíveis. Não se preocupe, você só vai
    precisar usar isso quando for fazer matrícula nas disciplinas do 2º semestre e
    adiante.
  </p>

  <app-figure
    [image]="{
      src: '/assets/images/servicos-academicos/matrusp.jpg',
      alt: 'Exemplo de como o matrUSP é utlizado',
      caption: 'Grade curricular no MatrUSP'
    }"
  ></app-figure>

  <p>
    Caso tenha interesse, você pode se matricular em disciplinas obrigatórias com turmas
    de outros cursos, antecipar uma que é do último período ou até mesmo cursar uma
    aleatória por interesse. Com o MatrUSP você pode simplesmente adicionar tudo e ver se
    cabe ou não na sua rotina, além de poder verificar os professores que dão aquela
    matéria e quantas vagas cada turma tem clicando em cima da disciplina adicionada.
  </p>
  <p>
    Para cursar disciplinas de outros cursos, você terá que fazer um requerimento pelo
    JupterWeb: Faça login &#8594; Graduação (no painel à direita) &#8594; Requerimento
    &#8594; Requerimento de matrícula. O período para enviar requerimentos ocorre depois
    das duas interações de matrícula. Para conferir a data, é só olhar no calendário
    acadêmico.
  </p>
</section>

<section>
  <a id="mimos"></a>

  <app-title [subtitle]="true">Outros mimos</app-title>
  <p>Achou que era só isso? Achou errado.</p>
  <p>
    Aqui segue uma listinha de serviços que você pode acessar com sua conta USP, obtendo
    descontos ou conseguindo de graça. Alguns são devido a convênio com a universidade e
    outros são benefícios para universitários.
  </p>
</section>

<app-image-grid [gridItems]="benefitsList"></app-image-grid>
