@import '../../../styles.scss';

nav {
  z-index: 999;

  &.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform 0.3s;
  }
}

.navbar-brand {
  width: 10%;
  min-width: 130px;
}

.navbar-toggler:hover {
  @extend .navbar-light;
  background-color: $primary;
  transition: 0.5s;
}
