<div class="text-justify my-1 d-flex flex-column gap-3 gap-md-5 px-3">
  <div *ngFor="let item of contents">
    <a *ngIf="item.anchor" [id]="item.anchor"></a>

    <!--Only image-->
    <app-figure
      *ngIf="item.image && !item.text"
      [image]="item.image"
      [margin]="false"
    ></app-figure>

    <!--Only text-->
    <div *ngIf="!item.image && item.text">
      <app-title *ngIf="item.title" [subtitle]="!!item.subtitle">{{
        item.title
      }}</app-title>
      <p *ngIf="!item.subtitle" [innerHTML]="item.text | sanitizeHtml"></p>
    </div>

    <!--Image and text-->
    <div *ngIf="item.image && item.text && item.imageOnLeft !== undefined">
      <app-title *ngIf="item.title" [subtitle]="!!item.subtitle">{{
        item.title
      }}</app-title>

      <!-- ngClass is used to toggle wrap mode if image is smaller than text -->
      <div
        [ngClass]="text.offsetHeight < image.offsetHeight ? 'row' : ''"
        class="align-items-center"
      >
        <div
          #image
          class="w-100 w-md-70 w-lg-65 w-xl-50 col-md mx-md-3"
          [ngClass]="item.imageOnLeft ? 'float-md-start' : 'order-md-2 float-md-end'"
        >
          <app-figure
            [image]="item.image"
            [margin]="false"
            [fullWidth]="true"
          ></app-figure>
        </div>

        <p #text class="col-md" [innerHtml]="item.text | sanitizeHtml"></p>
      </div>
    </div>
  </div>
</div>
