<app-page-title></app-page-title>

<section class="text-justify">
  <p>
    O Projeto Ampère foi desenvolvido para ajudar os novos integrantes do curso e de
    outras Engenharias a terem um início de semestre mais tranquilo, assim como ajudar
    aqueles que têm que refazer alguma matéria do ciclo básico a refrescar a memória para
    facilitar os estudos.
  </p>
  <p>
    O projeto contém um Guia de Estudos para cada matéria, aulas teóricas e de exercícios
    e Listas de Exercícios Resolvidos. O link para os documentos escritos (Guias e Listas)
    fica na descrição dos vídeos no Youtube.
  </p>
  <p>
    Nessa primeira edição tratamos das matérias do primeiro semestre da graduação e abaixo
    estamos apresentando quais matérias e assuntos foram abordados em nossas aulas.
  </p>
</section>
<br />

<section class="d-flex flex-column gap-4 text-justify">
  <div>
    <a id="pre-calculo"></a>
    <app-title [subtitle]="true">Pré Calculo</app-title>
    <p>
      Para Pré-Cálculo, preparamos o terreno para Cálculo, com a apresentação de teoria e
      exercícios sobre os diferentes tipos de funções e operações fundamentais da
      matemática. Assim, os alunos começam o curso com o pé direito e não passam por
      perrengues depois.
    </p>
    <div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5UAxCjlER5gwqsQI_biHrjN"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div>
    <a id="geometria-analitica"></a>
    <app-title [subtitle]="true">Geometria Analítica</app-title>
    <p>
      Para geometria analítica trabalhamos desde os conceitos mais básicos de vetores até
      o estudo de curvas e superfícies complexas, como cônicas e quádricas, com destaque
      para assuntos como produtos escalar e vetorial, além de alguns
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://youtube.com/playlist?list=PL_OkSoJUiZ5XF04xKXTc1gtm_HcJw0JrE"
        >exercícios</a
      >.
    </p>
    <div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5XF04xKXTc1gtm_HcJw0JrE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div>
    <a id="programacao"></a>
    <app-title [subtitle]="true">Programação</app-title>
    <p>
      Visando aqueles que nunca tiveram contato com programação, desenvolvemos todos os
      conceitos fundamentais da linguagem C, como IDEs, lógica de programação, loops e
      testes de Condição, mas também apresentamos conceitos importantes como Vetores,
      Ponteiros e Strings.
    </p>
    <div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5VevS-FG71UQ-6JT3FAUzqo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div>
    <a id="fisica1"></a>
    <app-title [subtitle]="true">Física I</app-title>
    <p>
      Nas aulas de Física apresentamos diversos conceitos de ensino médio como cinemática,
      forças, trabalho, colisões e gravitação, porém com maior envolvimento de conceitos
      de cálculo e outros fenômenos físicos mais complexos que são abordados na física do
      ensino superior.
    </p>
    <div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5W2o5yhNx3z-22D3HcHMDYA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div>
    <a id="calculo1"></a>
    <app-title [subtitle]="true">Cálculo I</app-title>
    <p>
      Em Cálculo, desenvolvemos conceitos que são essenciais em todas as disciplinas da
      engenharia. Trabalhamos a teoria de limites e suas propriedades, entramos na temida
      derivada, chegando por fim na introdução à integração.
    </p>
    <div class="ratio ratio-16x9 w-100 w-lg-60 m-auto">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5UU3qc84RWN7_mvEdezxM5F"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
