// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$dark-blue: #0a2d61;
$blue: #22bf5cc7;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #ff9900;
$light-orange: #f4c57e;
$yellow: #ffdb66;
$green: #198754;
$teal: #20c997;
$cyan: #64c1c7;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $orange;
$secondary: $light-orange;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: #f5f5f5;
$dark: #202020;
// scss-docs-end theme-color-variables
